<section class="has-accent-1-background" style="background-image: url(assets/img/root/service-bubble.png); background-repeat: no-repeat;	background-position: 100% calc(100% + 120px);">
    <!--Spacer-->
    <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
    <div class="container-xxl">
        <!--Animated Block-->
        <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
            <h1 class="large-heading"><%- approachdata.partialTitle %></h1>
        </div>
        <!--Spacer-->
        <div class="ptf-spacer" style=" --ptf-xxl: 7.5rem; --ptf-md: 3.75rem;"></div>
        <div class="row" style="--bs-gutter-x: 3.75rem; --bs-gutter-y: 7.5rem">
            <% for(var i=0; i<approachdata.number.length; i++) {%>
            <div class="col-xl-4 col-lg-6">
                <!--Animated Block-->
                <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                    <!--Approach Box-->
                    <div class="ptf-approach-box" style="--ptf-title-color: var(--ptf-color-white);">
                        <div class="ptf-approach-box__subtitle"><%- approachdata.number[i] %>
                        </div>
                        <h3 class="ptf-approach-box__title h1"><%- approachdata.title[i] %>
                        </h3>
                        <div class="ptf-approach-box__content">
                            <p><%- approachdata.content[i] %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <!--Spacer-->
    <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
</section>