<section>
    <!--Spacer-->
    <div class="ptf-spacer" style=" --ptf-xxl: 11.875rem; --ptf-md: 5.9375rem;"></div>
    <div class="container-xxl">
        <div class="row">
            <div class="col-lg-4">
                <!--Animated Block-->
                <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                    <h2 class="h1 large-heading">Our<br>Awards</h2>
                </div>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-lg: 3.75rem;"></div>
            </div>
            <div class="col-lg-8">
                <!--Rewards List-->
                <ul class="ptf-rewards-list ptf-rewards-list--small" style="--ptf-border-width: 2px; --ptf-border-color: var(--ptf-color-black);">
                    <li class="ptf-rewards-item" data-aos="fade" data-aos-delay="0">
                        <div class="ptf-rewards-item__date">2018
                        </div>
                        <div class="ptf-rewards-item__logo"><img src="img/root/rewards/logo-4.png" alt="" loading="lazy"></div>
                        <div class="ptf-rewards-item__content">
                            <div class="ptf-rewards-project">
                                <div class="ptf-rewards-project__content">
                                    <h5><a href="#">Muscle Rehab</a>
                                    </h5><span>Packaging Design</span>
                                </div>
                                <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="#">See project</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="ptf-rewards-item" data-aos="fade" data-aos-delay="100">
                        <div class="ptf-rewards-item__date">2016
                        </div>
                        <div class="ptf-rewards-item__logo"><img src="img/root/rewards/logo-2.png" alt="" loading="lazy"></div>
                        <div class="ptf-rewards-item__content">
                            <div class="ptf-rewards-project">
                                <div class="ptf-rewards-project__content">
                                    <h5><a href="#">ASDP Launch Event</a>
                                    </h5><span>Trade Show</span>
                                </div>
                                <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="#">See project</a></div>
                            </div>
                            <div class="ptf-rewards-project">
                                <div class="ptf-rewards-project__content">
                                    <h5><a href="#">Infinity Systems Trailer Exhibit</a>
                                    </h5><span>Exhibit Design</span>
                                </div>
                                <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="#">See project</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="ptf-rewards-item" data-aos="fade" data-aos-delay="200">
                        <div class="ptf-rewards-item__date">2015
                        </div>
                        <div class="ptf-rewards-item__logo"><img src="img/root/rewards/logo-3.png" alt="" loading="lazy"></div>
                        <div class="ptf-rewards-item__content">
                            <div class="ptf-rewards-project">
                                <div class="ptf-rewards-project__content">
                                    <h5><a href="#">Six Ways to Reduce Wel Intervention Costs</a>
                                    </h5><span>Brochure Design</span>
                                </div>
                                <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="#">See project</a></div>
                            </div>
                            <div class="ptf-rewards-project">
                                <div class="ptf-rewards-project__content">
                                    <h5><a href="#">Products and Services Catalog</a>
                                    </h5><span>Best of Category - Digital Programs</span>
                                </div>
                                <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="#">See project</a></div>
                            </div>
                            <div class="ptf-rewards-project">
                                <div class="ptf-rewards-project__content">
                                    <h5><a href="#">Products and Services Catalog</a>
                                    </h5><span>Best of Category - Offset Programs</span>
                                </div>
                                <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="#">See project</a></div>
                            </div>
                            <div class="ptf-rewards-project">
                                <div class="ptf-rewards-project__content">
                                    <h5><a href="#">Products and Services Catalog</a>
                                    </h5><span>Digital Division - Gold Award</span>
                                </div>
                                <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="#">See project</a></div>
                            </div>
                            <div class="ptf-rewards-project">
                                <div class="ptf-rewards-project__content">
                                    <h5><a href="#">Products and Services Catalog</a>
                                    </h5><span>Division 1 - Best of Division</span>
                                </div>
                                <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="#">See project</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="ptf-rewards-item" data-aos="fade" data-aos-delay="0">
                        <div class="ptf-rewards-item__date">2014
                        </div>
                        <div class="ptf-rewards-item__logo"><img src="img/root/rewards/logo-4.png" alt="" loading="lazy"></div>
                        <div class="ptf-rewards-item__content">
                            <div class="ptf-rewards-project">
                                <div class="ptf-rewards-project__content">
                                    <h5><a href="#">Products and Services Catalog</a>
                                    </h5><span>Catalog Design</span>
                                </div>
                                <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="#">See project</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="ptf-rewards-item" data-aos="fade" data-aos-delay="0">
                        <div class="ptf-rewards-item__date">2011
                        </div>
                        <div class="ptf-rewards-item__logo"><img src="img/root/rewards/logo-4.png" alt="" loading="lazy"></div>
                        <div class="ptf-rewards-item__content">
                            <div class="ptf-rewards-project">
                                <div class="ptf-rewards-project__content">
                                    <h5><a href="#">Outstanding Advertising</a>
                                    </h5><span>Kitchen & Bath Design News</span>
                                </div>
                                <div class="ptf-rewards-project__link"><a class="ptf-link-with-arrow text-uppercase fz-14" href="#">See project</a></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Spacer-->
    <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
</section>