<!--Footer-->
<footer class="ptf-footer ptf-footer--style-1">
    <div class="container-xxl">
        <div class="ptf-footer__top">
            <div class="row">
                <div class="col-12 col-xl-6">
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                        <div class="ptf-footer-heading has-black-color" style="max-width: 37.5rem;">Boost Your Business Up To High Level</div>
                        <div class="ptf-footer-heading has-black-color">Start by <a class="has-accent-1 text-decoration-underline" href="contact.html">Saying Hi!</a></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
                        <div class="ptf-widget ptf-widget-links has-black-color">
                            <h4 class="ptf-widget-title">Links</h4>
                            <ul>
                                <li><a href="faq.html">Faqs</a></li>
                                <li><a href="#">Term & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Affiliate</a></li>
                                <li><a href="services.html">Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
                        <div class="ptf-widget ptf-widget-text">
                            <h4 class="ptf-widget-title">Contact</h4>
                            <p class="fz-24">90 Fairground Rd, FL 3290, United States</p><a class="fz-40 has-black-color" href="mailto:hello@moonex.co">hello@moonex.co</a>
                        </div>
                        <div class="ptf-widget ptf-widget-links has-black-color">
                            <ul>
                                <li><a href="portfolio-grid.html">Works</a></li>
                                <li><a href="about-us.html">About</a></li>
                                <li><a href="blog-grid.html">News</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ptf-footer__bottom">
            <div class="row align-items-center">
                <div class="col-12 col-md"><a href="/"><img src="img/root/logo-dark.png" alt="" loading="lazy"></a></div>
                <div class="col-12 col-md">
                    <p class="ptf-footer-copyright has-black-color">© 2021 <span>Moonex</span>. All Rights Reserved.</p>
                </div>
                <div class="col-12 col-md d-none d-xl-block"></div>
                <div class="col-12 col-lg">
                    <div class="ptf-footer-socials has-black-color">
                        <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-1 twitter" href="#" target="_blank"><i class="socicon-twitter"></i></a>
                        <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-1 facebook" href="#" target="_blank"><i class="socicon-facebook"></i></a>
                        <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-1 instagram" href="#" target="_blank"><i class="socicon-instagram"></i></a>
                        <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-1 pinterest" href="#" target="_blank"><i class="socicon-pinterest"></i></a>
                        <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-1 dribbble" href="#" target="_blank"><i class="socicon-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>