<section>
    <!--Spacer-->
    <div class="ptf-spacer" style=" --ptf-xxl: 6.875rem; --ptf-md: 3.4375rem;"></div>
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="col-6">
                <!--Animated Block-->
                <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                    <h2>Latest Projects</h2>
                </div>
            </div>
            <div class="col-6 text-end">
                <!--Animated Block-->
                <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                    <!--Slider Controls-->
                    <div class="ptf-slider-controls ptf-slider-controls--style-1 ptf-portfolio-slider">
                        <div class="ptf-swiper-button-prev ptf-swiper-button-prev--style-1"><i class="lnil lnil-chevron-left"></i></div>
                        <div class="ptf-swiper-button-next ptf-swiper-button-next--style-1"><i class="lnil lnil-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!--Spacer-->
        <div class="ptf-spacer" style=" --ptf-xxl: 3.4375rem;"></div>
        <!--Animated Block-->
        <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
            <!--Content Slider-->
            <div class="ptf-content-slider swiper-container " data-cursor="" data-navigation-anchor=".ptf-portfolio-slider" data-gap="60" data-loop="enable" data-speed="" data-autoplay="" data-autoplay-speed="" data-slides-centered="" data-slide-settings="{&quot;slides_to_show_tablet&quot;:2,&quot;slides_to_show&quot;:3}" data-free-mode="" data-slider-offset="" data-mousewheel="">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div>
                            <!--Portfolio Item-->
                            <article class="ptf-work ptf-work--style-1">
                                <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="img/portfolio/work-1.png" alt="" loading="lazy">
                                </div>
                                <div class="ptf-work__meta">
                                    <div class="ptf-work__category">UI/UX
                                    </div>
                                    <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Taskly Dashboard</a>
                                    </h4>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <!--Portfolio Item-->
                            <article class="ptf-work ptf-work--style-1">
                                <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="img/portfolio/work-2.png" alt="" loading="lazy">
                                </div>
                                <div class="ptf-work__meta">
                                    <div class="ptf-work__category">Product
                                    </div>
                                    <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Film &amp; Art Festival</a>
                                    </h4>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <!--Portfolio Item-->
                            <article class="ptf-work ptf-work--style-1">
                                <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="img/portfolio/work-3.png" alt="" loading="lazy">
                                </div>
                                <div class="ptf-work__meta">
                                    <div class="ptf-work__category">Branding, Packaging
                                    </div>
                                    <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Dark Wishky Wine</a>
                                    </h4>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <!--Portfolio Item-->
                            <article class="ptf-work ptf-work--style-1">
                                <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="img/portfolio/work-4.png" alt="" loading="lazy">
                                </div>
                                <div class="ptf-work__meta">
                                    <div class="ptf-work__category">Illustration
                                    </div>
                                    <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Swiss Style Poster</a>
                                    </h4>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <!--Portfolio Item-->
                            <article class="ptf-work ptf-work--style-1">
                                <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="img/portfolio/work-5.png" alt="" loading="lazy">
                                </div>
                                <div class="ptf-work__meta">
                                    <div class="ptf-work__category">UI/UX
                                    </div>
                                    <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">Liarch Architecture Firm</a>
                                    </h4>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <!--Portfolio Item-->
                            <article class="ptf-work ptf-work--style-1">
                                <div class="ptf-work__media"><a class="ptf-work__link" href="portfolio-showcase-1.html"></a><img src="img/portfolio/work-6.png" alt="" loading="lazy">
                                </div>
                                <div class="ptf-work__meta">
                                    <div class="ptf-work__category">Branding, Packaging, Motion Video
                                    </div>
                                    <h4 class="ptf-work__title"><a href="portfolio-showcase-1.html">FG Print Brand</a>
                                    </h4>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Spacer-->
    <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
</section>