    <section>
        <!--Spacer-->
        <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
        <div class="container-xxl">
            <div class="row">
                <div class="col-xl-10">
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                        <h1 class="large-heading">Portfolio</h1>
                    </div>
                </div>
            </div>
            <!--Spacer-->
            <div class="ptf-spacer" style=" --ptf-xxl: 4.375rem;"></div>
        </div>
        <div class="container-xxl">
            <!--Animated Block-->
            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                <ul class="ptf-filters ptf-filters--style-1" id="ptf-filter-listing">
                    <li class="filter-item filter-item-active" data-filter="*">All</li>
                    <li class="filter-item" data-filter=".filter-1">Branding</li>
                    <li class="filter-item" data-filter=".filter-2">UI/UX</li>
                    <li class="filter-item" data-filter=".filter-3">Packaging</li>
                    <li class="filter-item" data-filter=".filter-4">Illustration</li>
                    <li class="filter-item" data-filter=".filter-5">Motion Video</li>
                    <li class="filter-item" data-filter=".filter-6">Product</li>
                    <li class="filter-item" data-filter=".filter-7">Animation</li>
                </ul>
            </div>
            <!--Spacer-->
            <div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
            <!--Animated Block-->
            <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                <div class="ptf-isotope-grid" data-columns="1" data-layout="masonry" data-x-gap="0" data-y-gap="0" data-controls="#ptf-filter-listing">
                    <div class="grid-sizer"></div>
                    <div class=" grid-item filter-1 filter-4 filter-7">
                        <!--Portfolio Item-->
                        <article class="ptf-work ptf-work--style-4"><a class="ptf-work__link" href="portfolio-showcase-1.html" data-tooltip-image="img/portfolio/grid/work-1.png"></a>
                            <div class="ptf-work__category">Branding
                            </div>
                            <h4 class="ptf-work__title">Supro Online Store
                            </h4>
                            <div class="ptf-work__date">2021
                            </div>
                        </article>
                    </div>
                    <div class=" grid-item filter-2 filter-5">
                        <!--Portfolio Item-->
                        <article class="ptf-work ptf-work--style-4"><a class="ptf-work__link" href="portfolio-showcase-1.html" data-tooltip-image="img/portfolio/grid/work-2.png"></a>
                            <div class="ptf-work__category">Illustration
                            </div>
                            <h4 class="ptf-work__title">LW Poster
                            </h4>
                            <div class="ptf-work__date">2020
                            </div>
                        </article>
                    </div>
                    <div class=" grid-item filter-3 filter-6">
                        <!--Portfolio Item-->
                        <article class="ptf-work ptf-work--style-4"><a class="ptf-work__link" href="portfolio-showcase-1.html" data-tooltip-image="img/portfolio/grid/work-3.png"></a>
                            <div class="ptf-work__category">Branding, UI/UX
                            </div>
                            <h4 class="ptf-work__title">Lewis Studio Website
                            </h4>
                            <div class="ptf-work__date">2020
                            </div>
                        </article>
                    </div>
                    <div class=" grid-item filter-1 filter-4 filter-7">
                        <!--Portfolio Item-->
                        <article class="ptf-work ptf-work--style-4"><a class="ptf-work__link" href="portfolio-showcase-1.html" data-tooltip-image="img/portfolio/grid/work-4.png"></a>
                            <div class="ptf-work__category">Branding, Packing, Motion
                            </div>
                            <h4 class="ptf-work__title">SPA Brand
                            </h4>
                            <div class="ptf-work__date">2021
                            </div>
                        </article>
                    </div>
                    <div class=" grid-item filter-2 filter-5">
                        <!--Portfolio Item-->
                        <article class="ptf-work ptf-work--style-4"><a class="ptf-work__link" href="portfolio-showcase-1.html" data-tooltip-image="img/portfolio/work-1.png"></a>
                            <div class="ptf-work__category">UI/UX
                            </div>
                            <h4 class="ptf-work__title">Taskly Dashboard
                            </h4>
                            <div class="ptf-work__date">2020
                            </div>
                        </article>
                    </div>
                    <div class=" grid-item filter-2 filter-5">
                        <!--Portfolio Item-->
                        <article class="ptf-work ptf-work--style-4"><a class="ptf-work__link" href="portfolio-showcase-1.html" data-tooltip-image="img/portfolio/work-2.png"></a>
                            <div class="ptf-work__category">Product
                            </div>
                            <h4 class="ptf-work__title">Film &amp; Art Festival
                            </h4>
                            <div class="ptf-work__date">2020
                            </div>
                        </article>
                    </div>
                    <div class=" grid-item filter-1 filter-4 filter-7">
                        <!--Portfolio Item-->
                        <article class="ptf-work ptf-work--style-4"><a class="ptf-work__link" href="portfolio-showcase-1.html" data-tooltip-image="img/portfolio/work-3.png"></a>
                            <div class="ptf-work__category">Branding, Packaging
                            </div>
                            <h4 class="ptf-work__title">Dark Wishky Wine
                            </h4>
                            <div class="ptf-work__date">2020
                            </div>
                        </article>
                    </div>
                    <div class=" grid-item filter-2 filter-5">
                        <!--Portfolio Item-->
                        <article class="ptf-work ptf-work--style-4"><a class="ptf-work__link" href="portfolio-showcase-1.html" data-tooltip-image="img/portfolio/work-4.png"></a>
                            <div class="ptf-work__category">Illustration
                            </div>
                            <h4 class="ptf-work__title">Swiss Style Poster
                            </h4>
                            <div class="ptf-work__date">2019
                            </div>
                        </article>
                    </div>
                    <div class=" grid-item filter-3 filter-6">
                        <!--Portfolio Item-->
                        <article class="ptf-work ptf-work--style-4"><a class="ptf-work__link" href="portfolio-showcase-1.html" data-tooltip-image="img/portfolio/work-5.png"></a>
                            <div class="ptf-work__category">UI/UX
                            </div>
                            <h4 class="ptf-work__title">Liarch Architecture Firm
                            </h4>
                            <div class="ptf-work__date">2019
                            </div>
                        </article>
                    </div>
                    <div class=" grid-item filter-1 filter-4 filter-7">
                        <!--Portfolio Item-->
                        <article class="ptf-work ptf-work--style-4"><a class="ptf-work__link" href="portfolio-showcase-1.html" data-tooltip-image="img/portfolio/work-6.png"></a>
                            <div class="ptf-work__category">Branding, Packaging
                            </div>
                            <h4 class="ptf-work__title">FG Print Brand
                            </h4>
                            <div class="ptf-work__date">2019
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <!--Spacer-->
            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            <div class="text-center">
                <!--Animated Block-->
                <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0"><a class="ptf-load-more" href="#">More</a>
                </div>
            </div>
        </div>
        <!--Spacer-->
        <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
    </section>
