<section class="jarallax"><img class="jarallax-img" src="img/about-us-testimonial-background.png" alt="" loading="lazy">
    <!--Spacer-->
    <div class="ptf-spacer" style=" --ptf-xxl: 12.5rem; --ptf-md: 6.25rem;"></div>
    <div class="container-xxl">
        <div class="row">
            <div class="col-xl-4">
                <!--Animated Block-->
                <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0"><img src="img/root/quote.png" alt="" loading="lazy">
                </div>
                <!--Spacer-->
                <div class="ptf-spacer" style=" --ptf-xl: 3.75rem;"></div>
            </div>
            <div class="col-xl-8">
                <!--Animated Block-->
                <div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
                    <!--Testimonial-->
                    <div class="ptf-testimonial ptf-testimonial--style-2" style="--ptf-text-align: left; --ptf-content-color: var(--ptf-color-white); --ptf-author-color: var(--ptf-color-white); --ptf-info-color: var(--ptf-color-white);">
                        <div class="ptf-testimonial__content">
                            <p>“I don’t know what else to say, this is something that you haven’t seen before. Unique design, lightweight, and outstanding support!”</p>
                        </div>
                        <div class="ptf-testimonial__meta">
                            <h6 class="ptf-testimonial__author">Pavel. S
                            </h6>
                            <div class="ptf-testimonial__info">CEO at Liarch Studio</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Spacer-->
    <div class="ptf-spacer" style=" --ptf-xxl: 12.5rem; --ptf-md: 6.25rem;"></div>
</section>