<!DOCTYPE html>
<html class="no-js ptf-is--works-listing ptf-is--header-style-3 ptf-is--footer-style-1 ptf-is--custom-cursor ptf-is--footer-fixed" lang="en">

<head>
	<meta charset="utf-8">
	<title>Abstract Creative | <%- title %></title>
	<meta name="description" content="Abstract Creative is a creative, branding, and digital design studio in Houston, Texas.">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--Favicon-->
	<link rel="icon" type="image/png" href="../../assets/img/root/favicon.png">
	<!--Framework-->
	<link rel="stylesheet" href="../../css/framework/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="../../css/framework/bootstrap-grid.min.css">
	<link rel="stylesheet" href="../../css/framework/bootstrap-utilities.min.css">
	<!--Plugins-->
	<link rel="stylesheet" href="../../css/ptf-plugins.min.css">
	<!--Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amiri&amp;display=swap">
	<link rel="stylesheet" href="../../fonts/CerebriSans/style.css">
	<!--Icons-->
	<link rel="stylesheet" href="../../fonts/LineIcons-PRO/WebFonts/Pro-Light/font-css/LinIconsPro-Light.css">
	<link rel="stylesheet" href="../../fonts/LineIcons-PRO/WebFonts/Pro-Regular/font-css/LineIcons.css">
	<link rel="stylesheet" href="../../fonts/Socicons/socicon.css">
	<!--Style-->
	<link rel="stylesheet" href="../../css/ptf-main.min.css">
	<!--Custom-->
	<link rel="stylesheet" href="../../css/custom.css">
</head>
<body>

    <div class="ptf-site-wrapper animsition">

        <%- include('../partials/header.ejs') %>
        <main class="ptf-main"><%- body %></main>

    </div>
	<!--Libs-->
	<script src="../../scripts/ptf-plugins.min.js"></script>
	<script src="../../scripts/ptf-helpers.js"></script>
	<script src="../../scripts/ptf-controllers.min.js"></script>

</body>
</html>